[Unit]
Description=legitrx
After=network-online.target
Requires=network-online.target

[Service]
User=legitrx
Group=legitrx
ExecStart=/usr/local/bin/legitrx -config /etc/legitrx.yaml
ProtectSystem=strict
ProtectHome=strict
NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
