[Unit]
Description=legitrx Server
After=network-online.target
Requires=network-online.target

[Service]
User=git
Group=git
ExecStart=/usr/bin/legitrx -config /etc/legit/legitrx.yaml
ProtectSystem=strict
ProtectHome=strict
NoNewPrivileges=true
PrivateTmp=true
PrivateDevices=true

[Install]
WantedBy=multi-user.target
