{{ define "index" }}
<!DOCTYPE html>
<html>
{{ template "head" . }}
<body>
<main id="legitrx">
<table id="header">
	<tr>
		<td class='logo' rowspan='2'><a href='/'><img src='/legitrx.png' alt='legitrx logo'/></a></td>
		<td class='main'>{{ .meta.Title }}</td>
		<tr><td class='sub'>{{ .meta.Description }}</td>
	</tr>
</table>
<div class="content">
	<table summary="repository list" class="list nowrap">
		<tr class="nohover">
			<th class="left">Name</th>
			<th class="left">Description</th>
			<th class="left">Idle</th>
		</tr>
{{ range .info }}
		<tr>
			<td class="toplevel-repo index-name"><a href="/{{ .Name }}">{{ .Name }}</a></td>
			<td class="desc"><a href="/{{ .Name }}">{{ .Desc }}</a></td>
			<td>{{ .Idle }}</td> <!--TODO: Idle highlight and absolute time-->
		</tr>
{{ end }}
	</table>
</div>
{{ template "foot" . }}
</main>
</body>
</html>
{{ end }}
