{{ define "repoheader" }}
<table id='header'>
	<tr>
		<td class='logo' rowspan='2'>
			<a href='/'>
				<img src='/legitrx.png' alt='legitrx logo'/>
			</a>
		</td>
		<td class='main'>
			<a href='/'>index</a> : 
			<a href='/{{ .name }}'>{{ .name }}</a>
		</td>
		<td class='form'>
			<form method='get'>
				<select name='h' onchange='this.form.submit();'>
					<option value='{{ .ref }}' selected='selected'>{{ .ref }}</option><!-- TODO: Make this actually work -->
				</select>
				<input type='submit' value='switch'/>
			</form>
		</td>
	</tr>
	<tr>
		<td class='sub'>{{ .desc }}</td>
		<!-- <td class='sub right'></td> TODO: Author -->
	</tr>
</table>
{{ end }}
