{{ define "tree" }}
<!DOCTYPE html>
<html>
{{ template "head" . }}
	<body>
		<main id="legitrx">
			{{ template "repoheader" . }}
			{{ template "reponav" . }}
			<div class="content">
				<table summary="tree listing" class="list">
					<tr class="nohover">
						<th class="left">Mode</th>
						<th class="left">Name</th>
						<th class="right">Size</th>
						<th />
					</tr>
					{{ $repo := .name }}
					{{ $ref := .ref }}
					{{ $parent := .parent }}
					{{ if $parent }}
					<tr>
						<td class="ls-mode">d---------</td>
						<td><a class="ls-blob" href="/{{ $repo }}/tree/{{ $ref }}/{{ .dotdot }}">..</a></td>
						<td class="ls-size">TODO</td>
						<td>
							TODO
							<a class="button" href="">log</a><a class="button" href="">stats</a>
							<a class="button" href="">plain</a>
							
						</td>
					</tr>
					{{ end }}
					{{ range .files }}
					<tr>
						<td class="ls-mode">{{ .Mode }}</td>
	                                        {{ if $parent }}
						<td><a class="ls-blob" href="/{{ $repo }}/tree/{{ $ref }}/{{ $parent }}/{{ .Name }}">{{ .Name }}/</a></td>
	                                        {{ else }}
						<td><a class="ls-blob" href="/{{ $repo }}/tree/{{ $ref }}/{{ .Name }}">{{ .Name }}/</a></td>
	                                        {{ end }}
						<td class="ls-size">{{ .Size }}</td>
						<td>
							TODO (& blame)
						</td>
					</tr>
					{{ end }}
				</table>
			</div>
			{{ template "foot" . }}
		</main>
	</body>
</html>
{{ end }}
